* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  background-color: bisque;
  margin-bottom: 3rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-links {
  margin: 1rem 0;
}

.navbar-links li {
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.navbar-link:hover {
  color: crimson;
  transition: 0.2s;
}

article {
  max-width: 18rem;
  margin: 2rem auto 0;
  padding: 1rem;

  border: 1px solid #000;
  border-radius: 0.7rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

h6 {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.list-info {
  text-align: left;
  padding-left: 1rem;
}

.list-info li {
  margin-bottom: 0.5rem;
}

.list-info li:last-child {
  margin-bottom: 0;
}
